<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>
    <main>
        <h2>Please Register</h2>

        <form method="post">
            {% csrf_token %}
            <input type="text", placeholder="Name", name="name">
            <input type="text", placeholder="Surname", name="surname">
            <input type="text", placeholder="Nickname", name="nickname">
            <input type="text", placeholder="Email", name="email">
            <input type="text" placeholder="Password", name="password">

            <button ty  pe="submit">Submit</button>
        </form>
    </main>
</body>
</html>